body {
  background-color: #263248;
  color: #fff;
}

.index-page h2 {
  color: #FF9800;
}

 .show-page h2 {
   color: #FF9800;
 }

.index-page a {
  color: #7E8AA2;
}

.home-icon {
  height: 250px;
  width: auto;
}

.ship-icon {
  width: 350px;
  height: auto;
  margin-top: 60px;
}

.container h1 {
  text-align: center;
}

h2 > strong {
  color: #7E8AA2;
}

p > strong {
  color: #7E8AA2;
}

input {
  color: #000;
}

.second-row {
  margin-top: 40px;
}