<h1>{{appSettings.title}}</h1>
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0 show-page">
	
	<h2><strong>Name:</strong> {{fShowCtrl.master.name}}</h2>
	<p><strong>Birth Year:</strong> {{fShowCtrl.master.episode_id}}</p>
	<p><strong>Eye Color:</strong> {{fShowCtrl.master.opening_crawl}}</p>
	<p><strong>Gender:</strong> {{fShowCtrl.master.director}}</p>
	<p><strong>Hair Color:</strong> {{fShowCtrl.master.producer}}</p>
	<p><strong>Height:</strong> {{fShowCtrl.master.release_date}}</p>
	<!-- <p>{{fShowCtrl.master.species}}</p>
	<p>{{fShowCtrl.master.starships}}</p>
	<p>{{fShowCtrl.master.vehicles}}</p>
	<p>{{fShowCtrl.master.characters}}</p>
  <p>{{fShowCtrl.master.planets}}</p> -->
	
</section>