<div class="container">
  
  <h1>Click on an icon to explore the Star Wars Universe!</h1>
  
  <div class="col-md-12 col-sm-12">
  
    <div class="col-md-4 col-sm-12">
      <a href="#/people"><img class="left home-icon" src="img/character-icon.png"></a>
    </div>
    
    <div class="col-md-4 col-sm-12">
      <a href="#/planets"><img class="left home-icon" src="img/planet-icon.png"></a>
    </div>
    
    <div class="col-md-4 col-sm-12">
      <a href="#/vehicles"><img class="left ship-icon" src="img/ship-icon.png"></a>
    </div>
  
  </div>
  
  <div class="col-md-12 col-sm-12 second-row">
    
    <div class="col-md-4 col-sm-12">
      <a href="#/films"><img class="left home-icon" src="img/film-icon.png"></a>
    </div>
    
    <div class="col-md-4 col-sm-12">
      <a href="#/species"><img class="left home-icon" src="img/species-icon.png"></a>
    </div>
    
    <div class="col-md-4 col-sm-12">
      <a href="#/starships"><img class="left home-icon" src="img/starship-icon.png"></a>
    </div>
    
  </div>
  
  
</div>