<h1>{{appSettings.title}}</h1>
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0 show-page">
	
	<h2><strong>Name:</strong> {{pShowCtrl.master.name}}</h2>
	<p><strong>Birth Year:</strong> {{pShowCtrl.master.birth_year}}</p>
	<p><strong>Eye Color:</strong> {{pShowCtrl.master.eye_color}}</p>
	<p><strong>Gender:</strong> {{pShowCtrl.master.gender}}</p>
	<p><strong>Hair Color:</strong> {{pShowCtrl.master.hair_color}}</p>
	<p><strong>Height:</strong> {{pShowCtrl.master.height}}</p>
	<p><strong>Skin Color:</strong> {{pShowCtrl.master.skin_color}}</p>
	<!-- <p>{{pShowCtrl.master.homeworld}}</p>
	<p>{{pShowCtrl.master.films}}</p>
	<p>{{pShowCtrl.master.species}}</p>
	<p>{{pShowCtrl.master.vehicles}}</p> -->
	
</section>