<h1>{{appSettings.title}}</h1>
<!-- title, content, image, date  -->
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0">

	<div class="col-md-4 col-sm-12 index-page" ng-repeat="planet in planetIndexCtrl.planets | filter: planetIndexFilter | orderBy:planetIndexCtrl.sortBy:planetIndexCtrl.reverse">
    
      <h2>{{planet.name}}</h2>
			<p>Climate: {{planet.climate}}</p>
      <p>Population: {{planet.population}}</p>
			<a href="#{{planet.url}}">Show Planet Details</a>
      
	</div>

</section>