<h1>{{appSettings.title}}</h1>
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0">
	
	<h2>{{planetShowCtrl.master.name}}</h2>
	<p>{{planetShowCtrl.master.diameter}}</p>
	<p>{{planetShowCtrl.master.rotation_period}}</p>
	<p>{{planetShowCtrl.master.orbital_period}}</p>
	<p>{{planetShowCtrl.master.gravity}}</p>
	<p>{{planetShowCtrl.master.population}}</p>
	<p>{{planetShowCtrl.master.climate}}</p>
	<p>{{planetShowCtrl.master.terrain}}</p>
	<p>{{planetShowCtrl.master.surface_Water}}</p>
	<!-- <p>{{planetShowCtrl.master.residents}}</p>
	<p>{{planetShowCtrl.master.films}}</p> -->
	
</section>