<h1>{{appSettings.title}}</h1>
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0 show-page">
	
	<h2><strong>Name:</strong> {{planetShowCtrl.master.name}}</h2>
	<p><strong>Diameter:</strong> {{planetShowCtrl.master.diameter}}</p>
	<p><strong>Rotation Period:</strong> {{planetShowCtrl.master.rotation_period}}</p>
	<p><strong>Orbital Period:</strong> {{planetShowCtrl.master.orbital_period}}</p>
	<p><strong>Gravity:</strong> {{planetShowCtrl.master.gravity}}</p>
	<p><strong>Population:</strong> {{planetShowCtrl.master.population}}</p>
	<p><strong>Climate:</strong> {{planetShowCtrl.master.climate}}</p>
	<p><strong>Terrain:</strong> {{planetShowCtrl.master.terrain}}</p>
	<p><strong>Surface Water:</strong> {{planetShowCtrl.master.surface_Water}}</p>
	<!-- <p>{{planetShowCtrl.master.residents}}</p>
	<p>{{planetShowCtrl.master.films}}</p> -->
	
</section>