<h1>{{appSettings.title}}</h1>
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0 show-page">
	
	<h2><strong>Name:</strong> {{sShowCtrl.master.name}}</h2>
	<p><strong>Classification:</strong> {{sShowCtrl.master.classification}}</p>
	<p><strong>Designation:</strong> {{sShowCtrl.master.designation}}</p>
	<p><strong>Average Height:</strong> {{sShowCtrl.master.average_height}}</p>
	<p><strong>Eye Color(s):</strong> {{sShowCtrl.master.eye_colors}}</p>
	<p><strong>Hair Color(s):</strong> {{sShowCtrl.master.hair_colors}}</p>
	<p><strong>Skin Color(s):</strong> {{sShowCtrl.master.skin_colors}}</p>
  <p><strong>Language:</strong> {{sShowCtrl.master.language}}</p>
	<!-- <p>{{sShowCtrl.master.homeworld}}</p>
	<p>{{sShowCtrl.master.people}}</p>
	<p>{{sShowCtrl.master.films}}</p> -->
	
</section>