<h1>{{appSettings.title}}</h1>
<!-- title, content, image, date  -->
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0">
	
	<h5>Search by Name:  <input type="text" ng-model="speciesIndexFilter.name"></h5>

	<div class="col-md-4 col-sm-12 index-page" ng-repeat="alien in sIndexCtrl.species | filter: speciesIndexFilter | orderBy:sIndexCtrl.sortBy:sIndexCtrl.reverse">
    
      <h2>{{alien.name}}</h2>
			<p>Classification: {{alien.classification}}</p>
      <p>Designation: {{alien.designation}}</p>
			<a href="#{{alien.url}}">Show Alien Details</a>
	</div>

</section>