<h1>{{appSettings.title}}</h1>
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0 show-page">
	
	<h2><strong>Name:</strong> {{starShowCtrl.master.name}}</h2>
	<p><strong>Model:</strong> {{starShowCtrl.master.model}}</p>
	<p><strong>Starship Class:</strong> {{starShowCtrl.master.starship_class}}</p>
	<p><strong>Cost in Credits:</strong> {{starShowCtrl.master.cost_in_credits}}</p>
	<p><strong>Length:</strong> {{starShowCtrl.master.length}}</p>
	<p><strong>Crew:</strong> {{starShowCtrl.master.crew}}</p>
	<p><strong>Passengers:</strong> {{starShowCtrl.master.passengers}}</p>
	<p><strong>Max Atmosphering Speed:</strong> {{starShowCtrl.master.max_atmosphering_speed}}</p>
	<p><strong>Hyperdrive Rating:</strong> {{starShowCtrl.master.hyperdrive_rating}}</p>
  <p><strong>MGLT:</strong> {{starShowCtrl.master.MGLT}}</p>
  <p><strong>Cargo Capacity:</strong> {{starShowCtrl.master.cargo_capacity}}</p>
  <p><strong>Consumables:</strong> {{starShowCtrl.master.consumables}}</p>
	<!-- <p>{{starShowCtrl.master.films}}</p>
	<p>{{starShowCtrl.master.pilots}}</p> -->
	
</section>