<h1>{{appSettings.title}}</h1>
<!-- title, content, image, date  -->
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0">
	
	<h5>Search by Name:  <input type="text" ng-model="vehicleIndexFilter.name"></h5>

	<div class="col-md-4 col-sm-12 index-page" ng-repeat="vehicle in vIndexCtrl.vehicles | filter: vehicleIndexFilter | orderBy:vIndexCtrl.sortBy:vIndexCtrl.reverse">
    
      <h2>{{vehicle.name}}</h2>
			<p>Model: {{vehicle.model}}</p>
      <p>Crew Size: {{vehicle.crew}}</p>
      <a href="#{{vehicle.url}}">Show Vehicle Details</a>
			
	</div>

</section>