<h1>{{appSettings.title}}</h1>
<section>
	
	<h2>{{vShowCtrl.master.name}}</h2>
	<p>{{vShowCtrl.master.model}}</p>
	<p>{{vShowCtrl.master.vehicle_class}}</p>
	<p>{{vShowCtrl.master.manufacturer}}</p>
	<p>{{vShowCtrl.master.length}}</p>
	<p>{{vShowCtrl.master.cost_in_credits}}</p>
	<p>{{vShowCtrl.master.crew}}</p>
	<p>{{vShowCtrl.master.passengers}}</p>
	<p>{{vShowCtrl.master.max_atmospheric_speed}}</p>
	<p>{{vShowCtrl.master.cargo_capacity}}</p>
	<p>{{vShowCtrl.master.consumables}}</p>
  <p>{{vShowCtrl.master.films}}</p>
  <p>{{vShowCtrl.master.pilots}}</p>
	
</section>