<h1>{{appSettings.title}}</h1>
<section class="col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0">
	
	<h2><strong>Name</strong>: {{vShowCtrl.master.name}}</h2>
	<p><strong>Model</strong>: {{vShowCtrl.master.model}}</p>
	<p><strong>Vehicle Class</strong>: {{vShowCtrl.master.vehicle_class}}</p>
	<p><strong>Manufacturer</strong>: {{vShowCtrl.master.manufacturer}}</p>
	<p><strong>Length</strong>: {{vShowCtrl.master.length}}</p>
	<p><strong>Cost in Credits</strong>: {{vShowCtrl.master.cost_in_credits}}</p>
	<p><strong>Crew Size</strong>: {{vShowCtrl.master.crew}}</p>
	<p><strong>Passenger Size</strong>: {{vShowCtrl.master.passengers}}</p>
	<p><strong>Max Atmospheric Speed</strong>: {{vShowCtrl.master.max_atmospheric_speed}}</p>
	<p><strong>Cargo Capacity</strong>: {{vShowCtrl.master.cargo_capacity}}</p>
	<p><strong>Consumables</strong>: {{vShowCtrl.master.consumables}}</p>
  <!-- <p>{{vShowCtrl.master.films}}</p>
  <p>{{vShowCtrl.master.pilots}}</p> -->
	
</section>